/* Import font */
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');*/

/*variables*/
:root {
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}


/* Estilos generales aplicables a todos los tamaños de pantalla */
* {
    background: var(--light-blue-100);
    font-family: 'Inter', serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--gray-400); /*text color*/
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto del elemento */
}


/* Ajustes para el logo */
.logo {
    padding: 2% 0 0 2%; /*top, right, bottom, left values - el último valor centra el header*/
    margin-left: 5%;
    max-width: 10%; /* Limita el ancho máximo para que no sea demasiado grande */
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    margin-right: 2rem;
    margin-left: 2rem;
    /*border: 1px solid red;*/
}

/* Secciones dentro de main */
section {
    flex: 1;
    margin-left: 1rem;
}

/*flex: 1; es un atajo para:
  - flex-grow: 1;
  - flex-shrink: 1;
  - flex-basis: 0%;


flex-grow: 1;: Esto significa que el elemento puede crecer para llenar el espacio disponible dentro del contenedor flexible.
Si hay más de un elemento con flex-grow: 1;, todos crecerán proporcionalmente para llenar el espacio restante.

flex-shrink: 1;: Esto indica que el elemento puede reducirse si es necesario para caber dentro del contenedor.
Si hay más de un elemento con flex-shrink: 1;, todos se encogerán proporcionalmente.

flex-basis: 0%;: Esto establece la base del tamaño del elemento antes de que se aplique cualquier espacio adicional o encogimiento.
Un valor de 0% significa que el elemento no tiene un tamaño base predeterminado y se ajustará completamente según el espacio disponible en el contenedor.
*/

/* Estilo de las áreas de texto */
.text-area, .msg-encriptado {
    border-radius: 1rem;
    border: 0 solid; /* none */
}

.text-area {
    color: var(--dark-blue-300);
    text-transform: lowercase;
    height: 400px;
    padding: 1%;
    width: 100%;
}

.msg-encriptado {
    background-color: white;
    background-image: url(../images/muneco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: var(--gray-400);
    /*margin-top: 0rem; */
    margin-bottom: 1.8rem;
    height: 79%;
    margin-right: 5%
}

.text-area:focus, .msg-encriptado:focus {
    outline: 1px dashed var(--dark-blue-300);
}

::placeholder {
    color: var(--dark-blue-300);
    padding-top: 0.2rem;
    padding-left: 0.2rem;
}

.information {
    /*padding: 1%;*/
    color: var(--gray-400);
    font-size: 0.8rem;
    margin: 0;
}

/* Estilo del contenedor de botones */
.botones {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}

/* Estilo de los botones */
.btn-encriptar, .btn-desencriptar {
    border-radius: 1rem;
    border: 1px solid var(--dark-blue-300);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border-radius: 1rem;
    border: 1px solid var(--dark-blue-300);
    cursor: pointer;
    height: 67px;
    width: 330px;
    background-color: white;
}

.btn-encriptar {
    color: white;
    background-color: var(--dark-blue-300);
}

.btn-desencriptar {
    color: var(--dark-blue-300);
    background-color: var(--light-blue-300);
    margin-left: 30px;
}


.btn-copiar:disabled {
    background-color: var(--gray-200);
    cursor: not-allowed;
    opacity: 0.6;
}

/* Estilos para pantallas grandes (PC) */
@media (min-width: 1200px) {
    .text-area, .msg-encriptado,
    .btn-encriptar, .btn-desencriptar,
    .btn-copiar {
        display: inline-block; /* Asegura que el botón mantenga su tamaño según su contenido */
        width: 100%;
    }
}

/* Estilos para pantallas medianas y pequeñas (ipad, iPhone y otros teléfonos) */
@media (max-width: 1199px) {
    main {
        flex-direction: column;
        margin-left: 0;
    }

    .text-area, .msg-encriptado,
    .btn-encriptar, .btn-desencriptar,
    .btn-copiar {
        display: inline-block; /* Asegura que el botón mantenga su tamaño según su contenido */
        width: 100%;
    }

    .msg-encriptado {
        height: auto;
        margin-top: 3rem;
    }
}
